<%= form_for(@pool) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br/>
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :bragging_points %><br/>
    <%= f.text_field :bragging_points %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>